<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
        <title>Document PDF saver</title>
    </head>
    <body>
        <div class="container" id="app">           
            <nav id="summary" class="navbar navbar-light bg-light flex-column">
                <span class="navbar-brand">Contents:</span>
                <nav class="nav nav-pills flex-column">
                    <a v-for="(item, index) in items" class="nav-link" v-on:click.prevent="scrollTo(index)" href="">{{ index + 1 }}. {{ item.title }}</a>
                </nav>
                <a class="btn btn-link text-success" id="add_item" v-on:click="addItem">Add item</a>
            </nav>
            <nav id="menu" class="navbar navbar-light bg-light flex-column">
                <div class="alert alert-success notify-block" role="alert" v-bind:class="{active: message}">{{ message }}</div>
                <a class="btn btn-success btn-warning" v-on:click="saveData">Save</a>
                <a class="btn btn-light btn-sm" v-on:click="saveHtml">Save into html</a>
                <a class="btn btn-light btn-sm" v-on:click="savePdf">Save into pdf</a>
                <hr/>
                <a class="text-danger" v-on:click="clearData" href="">Clear</a>
            </nav>
            <div class="row mb-4 bg-default">
                <h1 class="col text-center" id="page_title" contenteditable>{{ title }}</h1>
            </div>
            <div class="row">
                <div class="col">
                    <div class="item-wrapper" v-for="(item, index) in items">
                        <h2 class="item-wrapper-title" :id="'item' + index" contenteditable>{{ item.title }}</h2>
                        <div class="item-wrapper-text" v-html="item.text"></div>
                        <div class="alert alert-secondary item-menu">
                            <button class="btn btn-info" v-on:click="addParagraph(index)">New paragraph</button>
                            <button class="btn btn-danger" v-on:click="deleteItem(index)">Remove</button>
                        </div>
                    </div>
                </div>
            </div>           
        </div>        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>
        <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>