* {
    transition: all .5s ease;
}
head, [contenteditable] {
    display: block;
}
p {
    text-indent: 1em;
}
#summary {
    position:fixed;
    left: 0;
}
#menu {
    position:fixed;
    right: 0;
}
body {
    counter-reset: itemCounter;
}
.item-wrapper-title:before {
    counter-increment: itemCounter +1;
    content: counter(itemCounter) ". ";
}
.notify-block {
    position: fixed;
    top: 0;
    right: 180px;
    opacity: 0;
    transition: opacity 1s linear;
}
.notify-block.active {
    opacity: 1;
}